body {
    margin: 0;
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
    color: white;
    background-color: #1D1D00;
    min-height: 100vh;
}




.gallery-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    color: white;
    margin-bottom: 20px;
}



.image-scroll-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 80vh;
    padding: 20px;
    scroll-behavior: smooth;
    background: #342519;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}



.image-scroll-container img {
    width: 80%;
    max-width: 600px;
    height: auto;
    margin: 10px auto;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: transform 0.3s ease, background 0.3s;
    background: rgba(255, 255, 255, 0.2);
}


.image-scroll-container img:hover {
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.4);
}


/* Scrollbar styling */
.image-scroll-container::-webkit-scrollbar {
    width: 8px;
}


.image-scroll-container::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.image-scroll-container::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.image-scroll-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
